html {
  font-size: 12px;
  font-family: 'KoHo', sans-serif;
}

body {
  margin: 0px;
}

header {
  background: url('../pics/title.jpeg') center center no-repeat;
  background-size: 100% auto;
  height: 50%;
  text-align: center;
  font-size: 2em;
  color: white;
}

header h1 {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 10px;
  font-size: 4em;
  margin-block-end: 0em;
  margin-block-start: 0em;
  padding-top: 1em;
}

h3 {
  margin-block-start: 0em;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  font-size: 2em;
  top: 0px;
  z-index: 1;
  background-color: #273f87;
}

nav, a {
  text-align: center;
  text-decoration: none;
  /* color: #ee5c63; */
  color: #DAA520;
  padding: 1.5rem;
}

.details .right, .details .left {
  height: 300px;
}

.text {
  border: 2px solid #DAA520;
  height: 100px;
}

.text h3 {
  padding-top: 2em;
}

#church {
  background: url('http://smchicago.org/sites/default/files/styles/galleryformatter_slide/public/field/image/Welcome-inside.png?itok=mBmiyD-e') center center no-repeat;
  background-size: 140% auto;
}

#reception {
  background: url('https://static1.squarespace.com/static/54b5a61ae4b0fee4b00e263a/59b2e6352994caee6bcf9b8b/59baf724bce1767624c3c4a4/1505425232598/patrick-haley-mansion-joliet-illinois.jpg') center center no-repeat;
  background-size: 100% auto;
}

#hotel {
  background: url('https://s-ec.bstatic.com/images/hotel/max1024x768/154/154683623.jpg') center center no-repeat;
  background-size: 100% auto;
}

.wedding-party::after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.wedding-party {
  background: url('../pics/indian-elephant.png') center center no-repeat;
}

.wedding-party h3 {
  text-align: center;
}

.wedding-party h6 {
  font-size: 1em;
}

.wedding-party p {
  font-size: 0.8em;
}


section {
  color: #273f87;
  font-size: 1.5em;
  /* color: #1a2a5a; */
}

.right, .left {
  display: inline-block;
  width: 48%;
  text-align: center;
  /* vertical-align: -webkit-baseline-middle;
  vertical-align: middle; */
}

.left {
  float: left;
}

.right {
  float: right;
}

article {
  padding-top: 1rem;
  height: 300px;
  vertical-align: middle;
}

.wedding-party::after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}
