@media only screen and (max-width: 500px) {
  /* body {
    background-color: lightblue;
  } */
  header {
    background-size: 300% auto;
    height: 85%;
    /* color: #DAA520; */
  }

  header h1{
    font-size: 2em;
    padding: 5em 2em 0em 2em;
  }

  header h1, header h3 {
    opacity: 0.8;
    /* color: #DAA520; */
  }

  nav a {
    padding: 3px;
  }

  nav {
    padding: 1em 0.5em 1em 0.1em
  }

  .left, .right {
    width: 100%;
    display: block;
  }
}